[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
